@media (max-width: 768px) {

    body{
     
    }
    .grid {
        grid-template-columns: 1fr;
        width: 100%;            /* Full width */
        box-sizing: border-box; /* Includes padding/border in width */
        margin: 0;              /* Optional: remove margins */
        padding: 0;    
      
    }
    .grid-2 {
        grid-template-columns: 1fr;
        width: 100%;            /* Full width */
        box-sizing: border-box; /* Includes padding/border in width */
        margin: 0;              /* Optional: remove margins */
        padding: 0;    
        
    }
    .grid-2-4 {
        grid-template-columns: 1fr;
        width: 100%;            /* Full width */
        box-sizing: border-box; /* Includes padding/border in width */
        margin: 0;              /* Optional: remove margins */
        padding: 0;    
       
    }
    .sec-info{
            order: 1;
    }

    .menu-itm{
        display: none;
    }

    #menu-sm{
       display: block;
        cursor: pointer;
       
    }
    .about-btns{
        display: flex;
        flex-direction: column;
        gap: 1rem;
         align-items: flex-start;

    }
    img {
        max-width: 100%;
        height: auto;
    }
    .sec-pic, .sec-pic{
        height: auto;
    }

    .point{
        font-size: 1.5rem;
    }


}