body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: #fff;

}

html{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #545454;
}

h1, h2 {
    font-weight: 700;
    font-family: Lato, sans-serif;
}
header{
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 2rem;

 
}

.hidden{
    display: none;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 2rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 80%;
}
.logo{
    margin-left: 0;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: #252525;
    font-weight: bold;
}

.grid{
    display: grid;
    grid-template-columns: 3fr 2fr;

}
.flex-container{
    display: flex;
    flex-direction: column;

}
.span-title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Lato,sans-serif;
    line-height: 1.66
}
.span-title+span {
    display: block;
    padding-left: 90px;
    opacity: .8;
}
.info{
    display: flex;
}

#hello {
    margin-top: 100px;
    border: none;
}
.pic{
    border-radius: 50%;
    height: 100%;
}
.site-btn{
    background: #33f;
    color: #fff;
    transition: all .3s ease;
    min-width: 170px;
    text-align: center;
    padding: 15px;
    display: inline-block;
    border: none;
    border-radius: 2px;
}

.about-btns .site-btn {
    margin-right: 30px;
}

.sec{
    height: 500px;
}